@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* webkit solution */
::-webkit-input-placeholder {
  text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
  text-align: right;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: #ecf0f1;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  display: flex;
  color: black;
  width: 100%;
}

tr {
  border-radius: 10px;
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #333333;
}

small {
  font-size: x-small;
}

footer {
  text-align: center;
  color: #b864c4;
}

/* Navbar Content */
.nav {
  display: flex;
  padding: 1em 2em;
}

.nav ul {
  display: flex;
  margin-left: auto;
  flex-direction: row;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 900;
}

.nav-title a {
  color: #b864c4;
}

.nav-item {
  display: block;
  margin-left: auto;
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.active {
  font-weight: 700;
}

.table {
  width: 80vw;
  table-layout: fixed;
}

.board {
  width: 100%;
  overflow: hidden;
}

.board-display {
  display: flex;
  height: 100%;
}

.swim-lane {
  text-align: center;
  font-weight: 500;
  width: 33%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 1rem;
  border-radius: 8px;
}

.todo {
  background-color: #e9cbec;
}

.inprogress {
  background-color: #b864c4;
}

.done {
  background-color: #732381;
}

.ticket-card {
  text-align: left;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 0.1em solid black;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

.button-wrapper button,
.button-wrapper a {
  width: 6rem;
  padding: 0.5rem 1rem;
  font-size: small;
}

.container {
  width: 100vw;
}

#create-ticket-link {
  display: block;
  margin-left: auto;
}

.form {
  width: 90%;
  height: 100%;
  background-color: #b864c4;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form > h1 {
  font-size: 4rem;
}

.form > h1,
label {
  color: yellow;
}

form > .form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-field > input,
.form-field > textarea,
.form-field > select {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.form > .form-action {
  width: 40%;
}

.form-action > button {
  width: 100%;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.form > .error-message {
  background-color: #213547;
  width: 80%;
  text-align: center;
  color: tomato;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.editBtn {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}

.editBtn:hover {
  color: blue
}

.deleteBtn {
  background-color: #f9f9f9;
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.deleteBtn:hover {
  border: 1px solid tomato;
  color: red;
}

.login-notice {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
